body {
	margin: auto;
	background: darkgray;
	text-align: justify;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: justify;
	width: 100%;
	color: white;
}
section{
        background: #333;
}
header {
	border: 10px solid black;
	color: #333;
	padding: 10px;
	height: 100px;
	margin: 0px auto 0px auto;
	width: 740px;
	background-color: black;
}
h1{
        color: white;
}
nav.mainNav {
	border-bottom: 5px solid black;
	margin: 0px auto 0px auto;
	font-family: Lucida Sans Unicode;
	background-color: #333;
	width: 780px;
}
nav.mainNav ul {
	list-style-type: none;
	margin: auto;
	padding: 0px;
	background-color: #335;
	text-align: center;
	overflow: hidden;
}
nav.mainNav li {
	float: left;
	width: 120px;
}
nav.mainNav li a {
	display: block;
	padding: 8px 16px;
	color: white;
	background-color: #335;
	text-decoration: none;
}
nav.mainNav li a:hover {
	color: black;
	background-color: white;
}
section {
	
	margin: 0px auto 0px auto;
	padding: 20px;
	width: 740px;
}
section a {
	color: red;
}
div.imgborder {
	float: left;
	width: 100px;
	height: 100px;
	padding: 2px;
	border: 5px solid;
	margin: 5px;
}
img.img {
        height: 100px;
        width: 100px;
}
p {
	overflow: hidden;
}
