body {
	margin: auto;
	background: darkgray;
	text-align: justify;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: justify;
	width: 100%;
	color: black;
}

header {
	border: 10px solid #002247;
	color: #333;
	padding: 10px;
	height: 100px;
	margin: 0px auto 0px auto;
	width: 1000px;
	background-color: #002247;
}

#banner {
	text-align: center;
	width: 100%;
}

#banner iframe{
	height: 140px;
	width: 1040px;
	border: none;
}

#navbar {
	display: inline-block;
	position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	left: 220px;
	bottom: 30px;
    font-size: 20pt;

}

#navbar li {
    display: inline-block;
    background-color: white;
    color: black;
	padding: 10px;
	margin: 0px;
}

#navbar li:hover {
	background-color: #333;
	color: white;
}

#account_info {
	float: right;
	display: relative;
	display: inline-block;
	color: white;
}



#account_info td {
	border: 1px solid gray;
}